/* UNIVERSAL STYLING */
/* Removes the default marging and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

/* HEADER STYLINE */
header {
  margin-bottom: 5px;
  padding: 20px;
  background-color: #454545;
  color: #ffffff;
}
/* Logo styles */
.logo {
  display: inline;
  float: left;
  font-family: "Precious";
  font-size: 38px;
}
/* Displaying the nav bar as an inline element */
.nav-bar {
  display: inline;
}
/* Displaying the links in the nav bar in a row */
/* Creating spaces between each link item */
.nav-bar ul li {
  display: inline;
  padding: 10px;
}
/* Link styling */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Creating a bottom order for the active link */
nav .active {
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}

/* MAIN SECTION STYLING */
/* --hero Section-- */
.greeting {
  font-size: 40px;
}
/* job title styling */
.job-title {
  font-size: 28px;
  color: #57adbf;
}
/* hero section styling for introduction paragraph */
.intro-text {
  font-size: 24px;
}
/* Profile photo styling */
figure img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 2px solid #333;
}
/* Call to Action button styling */
button {
  padding: 20px;
  margin: 20px;
  color: #ffffff;
  background-color: #454545;
  border-style: 1px solid #454545;
  border-radius: 10px;
  font-size: 18px;
}
/* Linkedin image styling in Call To Action button */
.btn-action img {
  width: 18px;
  height: 18px;
}
/* button hover effects */
.btn-action:hover {
  background-color: #57adbf;
  color: white;
}

/* HR STYLING */
hr {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}
/* --About Section-- */
/* section title styling */
.section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 34px;
}
/* Changing color of section texts */
.section-text {
  color: hsl(0, 0%, 18%);
}
/* --Work Section-- */
/* Employment details */
.emp-text {
  padding: 44px;
  color: #57adbf;
  font-weight: 400;
  letter-spacing: 2px;
}
.skills-container {
  margin-bottom: 340px;
}
/* Sub section title */
.sub-section-title {
  margin-top: 24px;
  padding: 10px;
  font-size: 24px;
}
/* Skills list styling */
.skills {
  margin: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4%;
  padding: 5px;
  width: 25%;
  border: 2px solid #000000;
  border-radius: 8px;
  float: right;
}
/* Sub skills title styling */
.sub-skills {
  font-weight: bold;
}
/* Hiding bullets in list items in skills section */
.skills ul {
  list-style: none;
}
.skills ul li {
  padding-top: 10px;
}
/* --Project Section-- */
.title-details {
  margin-right: 200px;
  font-weight: 200;
  font-size: 18px;
  color: #2d2d2d;
  float: right;
}
/* Styling for project description text */
.projects-details {
  font-size: 16px;
}
/* Positioning and display styling of the projects container */
.projects-container {
  margin: 10px;
  height: 410px;
  padding-top: 10px;
  border: 1px solid;
  padding: 5px;
  box-shadow: 5px 6px;
}
/* Project image sizes*/
.projects-container img {
  width: 300px;
  height: 300px;
}
/* Technology icons styling */
.software-icons img {
  width: 50px;
  height: 50px;
}
/* Removes bullet points form the technology icons */
.software-icons {
  list-style: none;
}
/* Italizes the Technology used text */
.projects-details {
  font-style: italic;
}
/* Project video size and position styling */
.projects-container iframe {
  margin-left: 48px;
  width: 300px;
  height: 200px;
}
/* Back to top navigation button styles */
.back-to-top img {
  float: right;
  width: 30px;
  height: 30px;
}
/* --Contact Section-- */
/* Form heading styles */
.form-text {
  font-size: 1.5rem;
}
/* Styling for textbox and text area */
input,
textarea {
  margin-right: 10px;
  width: 250px;
  padding: 8px;
  margin-bottom: 14px;
  box-sizing: border-box;
}
/* Social media icons styles */
.social-media-icons img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
/* Social media icons alignment and effects */
.social-media-icons li {
  margin-right: 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
/* Social media buttons styles on hover effect */
.social-media-icons li:hover {
  transform: scale(1.2);
}

/* FOOTER */
footer {
  display: block;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #454545;
  color: #ffffff;
}
